@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@400;600&family=Titillium+Web:wght@200;300&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
    padding: auto;
    width: auto;
}

body{
    background: rgb(31, 31, 31);
}

h1{
    color: pink;
    font-size: 50px;
}

h3{
    color: indianred;
    text-align: right;
    font-size: 2em;
}

p{
    color: white;
}

.contenedor{
    border: 1px solid silver;
    margin: 0 auto;
    width: 60%;
    background: palevioletred;
    padding: 10px;
}

.imagen{
    text-align: center;
}

img{
    width: 300px;
}

.principal{
    background: white;
    padding: 10px;
}


form{
    background: pink;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

table{
    border: 0;
    width: 1000;
}

/*
pre{
    background: pink;
    color: rgb(35, 35, 35);
    margin: 20px;
    width: 320px;
    border-radius: 5px;
    border: none;
    height: 30%;
    padding: 15px;
    text-align: center;
}
*/